.app-wrapper {
  display: grid;
  margin: 0 auto;
  /*width: 1530px;*/
  height: 100%;

  grid-template-areas:
  /*"n n"*/
  "n c";

  grid-template-rows: 0% 1fr;
  grid-template-columns: 3fr 200fr;
  grid-gap: 2px;
}
.app-wrapper-content {
  grid-area: c;
  /*padding-top: 30px;*/
  background-color: white;
  padding-left: 10px;
}

.noselect {
  color: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
