.nav {
    grid-area: c;
}

.centr {
    margin: 270px; width: 500px;
}

.siteLayoutContent {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
#components LayoutDemoTop .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.antRowRtl #components LayoutDemoTop .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.text {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}