.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    min-width: 1000px;
    background-color: #f0f8ff !important;
}

.centre {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    color: blueviolet;
    margin: -43px 0 0 12px;
}

.centreUser {
    font-size: 16px;
    color: blueviolet;
}